:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 99%;
  height: 99%;
}

#graph-box {
  flex: 1;
}

#info-box {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 1.1;
  flex: 0 0 400px;
  height: 100%;
  overflow: auto;
  border: 1px solid black;
  border-left-width: 0;
}

#key-box {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  font-size: 10px;
  line-height: 1;
}

#current-key {
  border-bottom: 1px solid black;
}

#possible-keys {
  flex: 0 0 auto;
  height: 150px;
  overflow-y: auto;
}

#possible-keys .km {
  width: 100px;
  margin-left: 10px;
}

#logs {
  flex: 0 0 auto;
  height: 200px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border-top: 1px solid black;
  font-size: 12px;
  line-height: 1.2;
  padding: 2px;
}

#logs .log.warn {
  color: #755100;
}

#logs .log.error {
  color: #8a2424;
}

#user-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#user-input > #background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.5;
  z-index: -99;
}

#user-input > #message {
  background-color: #ccc;
  color: black;
  font-size: 20px;
}

#user-input > #input {
  position: absolute;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 12px;
}
