:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

span {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  width: 99%;
  height: 99%;
}

#graph-box {
  flex: 1;
  position: relative;
}

#user-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
}

#user-input.hidden {
  display: none;
}

#user-input .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.1;
}

#user-input .foreground {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#user-input .message {
  color: black;
  font-size: 16px;
}

#user-input .input {
  font-size: 16px;
  outline: none;
  border: none;
  padding: 6px;
}
