#svg {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

#svg .node-component {
  stroke: black;
  fill: #ccc;
  stroke-width: 1px;
}
#svg .label-component {
  dominant-baseline: hanging;
}

#svg .edge-line {
  stroke: black;
  fill: none;
  stroke-width: 1.5px;
}

#svg .edge-arrow {
  stroke: black;
  fill: none;
  stroke-width: 1px;
}

#svg .node-group.focus > .node-component {
  fill: red;
  fill-opacity: 0.5;
}

#svg .edge-group.focus > .edge-line {
  stroke: red;
}

#svg .node-group.choice > .node-component {
  stroke: blue;
}

#svg .edge-group.choice > .edge-line,
#svg .edge-group.choice > .edge-arrow {
  stroke: blue;
}
