#svg {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  --bg: #e3e3e3;
  --fg: #222;
  --focus: #eaa;
  --choice: #aae;
  --focus-and-choice: #eae;
}

#svg .node {
  stroke: var(--fg);
  fill: var(--bg);
  stroke-width: 1px;
}

#svg .label {
  dominant-baseline: hanging;
}

#svg .edge-line {
  stroke: var(--fg);
  fill: none;
  stroke-width: 1.5px;
}

#svg .edge-arrow {
  stroke: var(--fg);
  fill: none;
  stroke-width: 1px;
}

#svg .node.focus {
  fill: var(--focus);
}

#svg .node.choice {
  fill: var(--choice);
}

#svg .node.choice.focus {
  fill: var(--focus-and-choice);
}

#svg .edge.choice > * {
  stroke: var(--choice);
}

#svg .edge.focus > * {
  stroke: var(--focus);
}

#svg .edge.focus.choice > * {
  stroke: var(--focus-and-choice);
}

#svg .edge.focus > .edge-line,
#svg .edge.choice > .edge-line {
  stroke-width: 3px;
}

#svg .edge.focus > .edge-arrow,
#svg .edge.choice > .edge-arrow {
  stroke-width: 2px;
}
